#root{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
p{
    margin: 0.2rem;
}
.app{
    width: 100%;
}
.projectCard {
    margin: 2rem;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.skillsList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.skillsList li{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #006032;
    border-radius: 0.5rem;
    color: white;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    height: 20vh;
    width: 100%;
    background-color: #006032;
}
.imgWrapper{
    margin-top: -100px;
    width: 200px;
    height: 200px;
    border-radius: 2rem;
    overflow: hidden;
}
.imgWrapper img{
    width: 100%;
    height: auto;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.description{
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
}
.info > * {
    margin: 0.7rem 2rem;
}
.info {
   flex-wrap: wrap;
}
.education{
    margin-bottom: 1rem;
}
.contact{
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    background-color: #006032;
    color: white;
    flex-wrap: wrap;
}
.textIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0.2rem;
    gap: 0.5rem;
}
.roomContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.startLoading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    flex-direction: column;
}